.text-editor {
  &__toolbar {
    margin-bottom: 5px;
  }

  &__editor {
    min-height: 400px;
    overflow-y: auto;

    font-family: inherit;
    font-size: inherit;
    line-height: inherit;

    // Based on bootstrap/_forms.scss
    display: block;
    width: 100%;
    height: $input-height-base; // Make inputs at least the height of their button counterpart (base line-height + padding + border)
    padding: $padding-base-vertical $padding-base-horizontal;
    font-size: $font-size-base;
    line-height: $line-height-base;
    color: $input-color;
    background-color: $input-bg;
    background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
    border: 1px solid $input-border;
    border-radius: $input-border-radius; // Note: This has no effect on <select>s in some browsers, due to the limited stylability of <select>s in CSS.
    @include box-shadow(inset 0 1px 1px rgba(0,0,0,.075));
    @include transition(border-color ease-in-out .15s, box-shadow ease-in-out .15s);

    // Unstyle the caret on `<select>`s in IE10+.
    &::-ms-expand {
      border: 0;
      background-color: transparent;
    }


    // Based on bootstrap/mixins/_forms.scss
    &--has-focus {
      // Customize the `:focus` state to imitate native WebKit styles.
      $color-rgba: rgba(red($input-border-focus), green($input-border-focus), blue($input-border-focus), .6);

      border-color: $input-border-focus;
      outline: 0;
      @include box-shadow(inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px $color-rgba);
    }

    &--has-error {
      border-color: $state-danger-text;
      @include box-shadow(inset 0 1px 1px rgba(0,0,0,.075)); // Redeclare so transitions work
      &:focus {
        border-color: darken($state-danger-text, 10%);
        $shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 6px lighten($state-danger-text, 20%);
        @include box-shadow($shadow);
      }
    }
  }
}

